# Loops :

In [1]:
l = [10, 20, 30, 40, "Abhisek",3.14]
print(l)
print(type(l))

[10, 20, 30, 40, 'Abhisek', 3.14]
<class 'list'>

In [2]:
# For Loop
l = [10, 20, 30, 40]
for i in l:
    print(i)

10
20
30
40

In [3]:
l = ["I", "am", "Abhisek"]
for _ in l:
    print(_)

I
am
Abhisek

# While Loop

Synatx:

initialization
while condition:
    do this
    do this
    increment / decrement

### Program to print numbers from 1 to 10

In [4]:
i = 1
while i <= 10:
    print(i,end = " ")
    i = i + 1

1 2 3 4 5 6 7 8 9 10

### Program to print numbers from 10 to 1

In [5]:
i = 10
while i >= 1:
    print(i,end = " ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

In [6]:
# end attribute

for i in [10,11,12,13,14,15]:
    print(i,end=" ")

10 11 12 13 14 15

In [7]:
for i in [10,11,12,13,14,15]:
    print(i,end="\n")

10
11
12
13
14
15

In [8]:
for i in [10,11,12,13,14,15]:
    print(i)

10
11
12
13
14
15

# Functions :

In [9]:
# Built in function

print("hello")

print(type("hello"))

print(int(12345.2345))

print(float(2345))

print(pow(7,3))

hello
<class 'str'>
12345
2345.0
343

In [10]:
# User defined functions

def greet():
    print("Hello")
    print("I am learner from LetsUpgrade")
    
greet()
print("Function had ended")

Hello
I am learner from LetsUpgrade
Function had ended

In [11]:
for i in range(3):
    greet()

Hello
I am learner from LetsUpgrade
Hello
I am learner from LetsUpgrade
Hello
I am learner from LetsUpgrade

In [12]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [13]:
for i in range(1,21,2):
    print(i,end = " ")

1 3 5 7 9 11 13 15 17 19

In [14]:
def mno(a):
    print(pow(a,2))
    
mno(int(input("Enter the number to squared: ")))

Enter the number to squared: 8
64

In [15]:
def mno(a):
    print(a * 3)
    
mno(9)
mno(1.8)
mno("abhi")
mno([1, 3, 6])

27
5.4
abhiabhiabhi
[1, 3, 6, 1, 3, 6, 1, 3, 6]

In [16]:
def calculator(a,b):
    print("Add =  ",a + b)
    print("Sub =  ",a - b)
    print("Mul =  ",a * b)
    print("Div =  ",a / b)
    
# a = float(input("Enter 1st number: "))
# b = float(input("Enter 2nd number: "))
# calculator(a,b)
calculator(float(input("Enter 1st number: ")),float(input("Enter 2nd number: ")))

Enter 1st number: 16
Enter 2nd number: 4
Add =   20.0
Sub =   12.0
Mul =   64.0
Div =   4.0

# String :

In [17]:
a = "abhisek"
print(a)
print(type(a))

#indexing
print(a[0])
print(a[3])
print(a[6] == a[-1])

abhisek
<class 'str'>
a
i
True

In [18]:
a = "abhisek"
print(a)

#slice
print(a[0:4])
print(a[0:])
print(a[:4])
print(a[-7:])

abhisek
abhi
abhisek
abhi
abhisek

# List :

In [19]:
a = "abhisek"
print(a)
print(type(a))

#Converting string to a list using List()

b = list(a)
print(b)
print(type(b))

abhisek
<class 'str'>
['a', 'b', 'h', 'i', 's', 'e', 'k']
<class 'list'>

In [20]:
str1 = "abhisek"
s = list(str1)
print(s)

#indexing
print(a[0])
print(a[3])
print(a[6] == a[-1])

['a', 'b', 'h', 'i', 's', 'e', 'k']
a
i
True

In [21]:
str1 = "abhisek"
s = list(str1)
print(s)

#slice
print(s[0:4])
print(s[0:])
print(s[:4])
print(s[-7:])

['a', 'b', 'h', 'i', 's', 'e', 'k']
['a', 'b', 'h', 'i']
['a', 'b', 'h', 'i', 's', 'e', 'k']
['a', 'b', 'h', 'i']
['a', 'b', 'h', 'i', 's', 'e', 'k']

# Tuple

List  
1. It is a collection of
   dissimilar datatypes.
2. Written inside []
3. Mutable (flexible)

------------------------

Tuple
1. It is a collection of
   dissimilar datatypes.
2. Written inside ()
3. Immutable (fixed)

In [22]:
# List are mutable
l = [1,2,3,4]
print(l)
print(l[0])
l[0] = 7
print(l)

[1, 2, 3, 4]
1
[7, 2, 3, 4]

In [23]:
# tuple are immutable
l = (1,2,3,4)
print(l)
print(l[0])
# l[0] = 4  fixed

(1, 2, 3, 4)
1

In [24]:
# String are immutable
s = "abhisek"
print(s)
print(s[0])
#s[1] = "B" fixed
print(s)

abhisek
a
abhisek

In [25]:
a = "abhisek"
print(a)
print(type(a))

#Converting string to a list using List()

b = tuple(a)
print(b)
print(type(b))

#indexing
print(a[0])
print(a[3])
print(a[6] == a[-1])

#slice
print(s[0:4])
print(s[0:])
print(s[:4])
print(s[-7:])

abhisek
<class 'str'>
('a', 'b', 'h', 'i', 's', 'e', 'k')
<class 'tuple'>
a
i
True
abhi
abhisek
abhi
abhisek

# Set :
### It is unordered and unindexed

In [26]:
s = {"apple","banana",1,2,3}
print(s)

{1, 2, 3, 'apple', 'banana'}

In [27]:
s = {"apple","banana",1,2,3}
print(s)
# print(s[0]) 
#'set' object is not subscriptable

{1, 2, 3, 'apple', 'banana'}

# Dictionary : {Key: Value}

In [28]:
d = {1: "C",2 : "Java", 3: "Python"}
print(d)
print(type(d))
print(d[1])
print(d[2])

{1: 'C', 2: 'Java', 3: 'Python'}
<class 'dict'>
C
Java

In [29]:
d = {1.1 : "JS", 2.2: "React", 3.3: "Angular", "HTML": 10, 1234: 12+3j}
print(d)
print(type(d))
print(d[1.1])
print(d["HTML"])
print(d[1234])

print(d.keys())
print(d.values())

{1.1: 'JS', 2.2: 'React', 3.3: 'Angular', 'HTML': 10, 1234: (12+3j)}
<class 'dict'>
JS
10
(12+3j)
dict_keys([1.1, 2.2, 3.3, 'HTML', 1234])
dict_values(['JS', 'React', 'Angular', 10, (12+3j)])

In [30]:
d = {1:100, 2: 50, 2: 64}
print(d)

{1: 100, 2: 64}

# String Functions :

In [31]:
a = "AbHiSEk"
b = "An AppLe A DaY KeEps ThE DoCToR awAy"
print(a.capitalize())
print(b.lower())
print(b.upper())
print(a.swapcase())
s1 = "Moharana"
print(s1.replace('a','b'))
print(s1.replace('a','b',1))

Abhisek
an apple a day keeps the doctor away
AN APPLE A DAY KEEPS THE DOCTOR AWAY
aBhIseK
Mohbrbnb
Mohbrana

# List Functions :

In [32]:
l = [1, 2, 3, 4, 5]
print(l)

l.append(6)
print(l)

l.pop()
print(l)

l.extend([11,12,123,1234])
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 11, 12, 123, 1234]

In [33]:
l = [2,5,8,3,9,0]
print(l)

l.sort()
print(l)

l.sort(reverse = True)
print(l)

l.reverse()
print(l)

[2, 5, 8, 3, 9, 0]
[0, 2, 3, 5, 8, 9]
[9, 8, 5, 3, 2, 0]
[0, 2, 3, 5, 8, 9]

In [34]:
l = [1, 2, 3, 5]
print(l)
l.insert(3,4)
print(l)

[1, 2, 3, 5]
[1, 2, 3, 4, 5]

# Tuple Functions :

In [35]:
t = (1,2,34,45)
print(len(t))
print(max(t))
print(min(t))

4
45
1

# Set Functions :

In [36]:
s = {"apple","banana","cherry","rasberry"}

for i in s:
    print(i)

cherry
apple
rasberry
banana

In [37]:
s = {"apple","banana","cherry","rasberry"}

print("apple" in s)

print("berry" in s)

s.add("mangos")
print(s)

print("mangos" in s)

s.update(["mangos","watermalon","papaya"])
print(s)

print(len(s))

s.remove("papaya")
print(s)

True
False
{'apple', 'banana', 'mangos', 'rasberry', 'cherry'}
True
{'papaya', 'apple', 'banana', 'mangos', 'rasberry', 'cherry', 'watermalon'}
7
{'apple', 'banana', 'mangos', 'rasberry', 'cherry', 'watermalon'}

# Dictionary Functions :

In [38]:
d = {1: "HTML", 2: "CSS", 3: "JS", 4: "React", 5: "Angular"}

print(d)
print(type(d))

print(str(d))
print(type(str(d)))

print(d.keys())
print(type(d.keys()))
print(list(d.keys()))

print(d.values())
print(list(d.values()))

del d[3]
print(d)

d.clear()
print(d)

{1: 'HTML', 2: 'CSS', 3: 'JS', 4: 'React', 5: 'Angular'}
<class 'dict'>
{1: 'HTML', 2: 'CSS', 3: 'JS', 4: 'React', 5: 'Angular'}
<class 'str'>
dict_keys([1, 2, 3, 4, 5])
<class 'dict_keys'>
[1, 2, 3, 4, 5]
dict_values(['HTML', 'CSS', 'JS', 'React', 'Angular'])
['HTML', 'CSS', 'JS', 'React', 'Angular']
{1: 'HTML', 2: 'CSS', 4: 'React', 5: 'Angular'}
{}

In [39]:
d1 = {1: "HTML", 2: "CSS", 3: "JS", 4: "React" }
d2 = {5: "Angular"}
print(d1)
print(d2)
d1.update(d2)
print(d1)
print(d2)

{1: 'HTML', 2: 'CSS', 3: 'JS', 4: 'React'}
{5: 'Angular'}
{1: 'HTML', 2: 'CSS', 3: 'JS', 4: 'React', 5: 'Angular'}
{5: 'Angular'}